html, body {
	font-family: Tahoma, Arial; 
	padding: 0px; 
	margin: 0px; 
	color: #e7e7e7;
	background: #393e42;
	font-size: 12px;
}

.blue {
	color: #0CF;
}

.green {
	color: #0F0;
}

a {
	color: #C10303; outline: 0;
}

a:hover {
	text-decoration: none;
	color:#C10303;
}

a:active, a:focus {
	color: #C10303;
	border: none;
	text-decoration: none;
}

.main-navigation a {
	outline: none;
}

button:focus { border: none; outline:none; }

p {
	color: #aeb5ba;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial;
	font-weight: 400;
}

h1	{	font-size: 1.5em;
	color: #ffffff;
	background: #343537;
	padding: 10px 8px;
	float: left;
	}
	
h2	{ font-size: 24px; color: #ffffff; }
h3 {  text-align: center; font-size: 16px; }
/*img {
  	max-width: 100%;
  	height: auto;
  	width:100%;
}*/
.clear	{ clear: both; }
.container-fluid{ margin:15px auto; }

/* Menu */
span.fa	{ width: 100%; text-align: center; }
.site-header .main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none; 
  float: right;
}

.site-header .main-navigation {
  display: block;
  text-align: center;
  padding: 0px 0px;
}
.site-header .main-navigation ul li {
  display: inline-block;
  margin-left: 1px;
}
.site-header .main-navigation ul li:last-child {
  margin-right: 0px !important;
}
.site-header .main-navigation ul li a {
  padding: 20px 20px;
  display: inline-block;
  color: white;
  font-size: 16px;
  /*background: #343536;*/
  text-transform: uppercase;
}
.site-header .main-navigation ul li a.active {
  color: #c10303;
  text-decoration: none;
}

.site-header .main-navigation ul li a:hover {
  color: #c10303;
  text-decoration: none;
}
.site-header .templatemo_logo {
  margin-top: 60px;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
}

a.menu-toggle-btn {
  padding: 12px 0;
  display: block;
  color: white;
  font-size: 24px;
}

.responsive-menu {
  display: none;
  background: #343536;
}

.responsive_menu {
  display: none;
  background-color: #2a2a2a;
}
.responsive_menu ul li {
  display: block !important;
  margin: 0 !important;
  border-bottom: 1px solid #444444;
}
.responsive_menu ul li a {
  padding: 15px 0 !important;
  display: block !important;
}

.templatemorow	{ margin: 0px 30px; }
.templatemo_servicerow	{ margin: 0px; }
.blok	{ position: absolute; }
.hex	{ width: 20%; float: left; }
.hex-offset	{ margin-left: 10%; }
.hexagon2, .hexagonteam {
	position: absolute;
	width: 200px;
	height: 400px;
	top: -85px;
}
.hexagonteam {
	position: absolute;
	width: 200px;
	height: 350px;
	top: -85px;
}
.hexagon {
	overflow: hidden;
	visibility: hidden;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	/*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.hexagon-in2:hover {
	webkit-box-shadow: inset 0 0 0 200px rgba(36,36,36, 0.7);
	box-shadow: inset 0 0 0 200px rgba(36,36,36, 0.7);
}
.s_top	{ margin-top: 8%; }
.templatemo_hexteam .gallery-item .templatemo_overlay1 a { top: 50%; left: 15%; background: none; border: none; }
.templatemo_hexteam .gallery-item .templatemo_overlay2 a { top: 50%; left: 37%; background: none; border: none; }
.templatemo_hexteam .gallery-item .templatemo_overlay3 a { top: 50%; left: 58%; background: none; border: none; }
.templatemo_hexteam .gallery-item .templatemo_overlay4 a { top: 50%; left: 80%; background: none; border: none; }

.smallhexagon {
	width: 40px;
	height: 46px;
	background: #C10303;
	position: relative;
	background: url(../images/templatemo_teamhexa.png) no-repeat;
	margin-bottom: 10px;
}
.smallhexagon:before {
	position: absolute;
	left: 0;
	width: 0;
	height: 46px;

}
.smallhexagon:after {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 46px;
}
.smallhexagon .fa { font-size: 16px; color: #ffffff; line-height: 46px; }
.templatemo_overlaytxt	{ margin-top: 105%; text-align: center; width: 100%; }

.hexagon-a {
	margin-top: 63px;
	position: absolute;
	z-index: 300;
	margin-left: -65px;
}
.hexagon-a a {
  margin: 0 auto;
  width: 26%;
  display: block;
  position: relative;
  
}
.hexagon-a a.hlinktop:hover .hexa-a {
  background: #cfb652;
  color: #fff;
}

.hexagonservices {
	height: 160px;
	margin-top: 60px;
}
.hexagonservices a.hlinkbott {
  margin: 0 auto;
  display: block;
  min-width: 120px;
  position: relative;
}

.hexagonservices a.hlinkbott:hover .hexa {
  background: #C10303;
}
.templatemo_servicetext	{ float: left; margin-top: 230px; }
.templatemo_hexservices	{ width: 20%; margin-top: -10%; }
.templatemo_hexservices p{ text-align: center; }

/* mid hexa */
.hexa-a {
  width: 100%;
  min-width: 110px;
  height: 0;
  padding-bottom: 57.7%;
  background: #393e42;
  position: absolute;
  color: #C10303;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 42px;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 0%;
}

.hexa-a:before, .hexa-a:after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  padding: inherit;
  background: inherit;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: 0;
  position: absolute;
  border-radius: inherit;
}

.hexa-a:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hcontainer-a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.vertical-align-a {
  display: table;
  height: 100%;
  width: 100%;
}

.texts-a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} 

/* main Hexa */ 
.hexa {
  width: 100%;
  min-width: 120px;
  height: 0;
  padding-bottom: 57.7%;
  margin: 0;
  background: #C10303;
  position: absolute;
  color: #FFF;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 0%;
}

.hexa:before, .hexa:after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  padding: inherit;
  background: inherit;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: 0;
  position: absolute;
  border-radius: inherit;
}

.hexa:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}


/* ---- Small Hexa ----*/
.hex_footer {
    width: 46px;
	height: 40px;
	position: relative;
    background: url(../images/templatemo_footerhexa.png) no-repeat;
}

 a:hover .hex_footer{ background: url(../images/templatemo_teamhexa_hover.png) no-repeat; }

.hex_footer span.fa{ color: #ffffff; font-size: 16px; line-height: 40px; }

/*------------------------------------------------------
	Gallery Styles 
--------------------------------------------------------*/
.gallery-item {
  background-color: white;
  -webkit-box-shadow: inset 0 0 1px #666;
  -moz-box-shadow: inset 0 0 1px #666;
  margin-bottom: 30px;
  /*position: relative;*/
  overflow: hidden;
}
.gallery-item .content-gallery {
  text-align: center;
}
.gallery-item .content-gallery h3 {
  color: #b10021;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
.gallery-item img {
  width: 100%;
}
.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  display: block;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.gallery-item .overlay a {
  color: #2a2a2a;
  width: 32px;
  height: 32px;
  background-color: #d3b850;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
.templatemo_gallerygap { margin-bottom: 90px; }
.templatemo_gallerygap span.fa	{ font-size: 22px; margin-bottom: 15px; }
.templatemo_gallerytop	{ margin-top: 11%; }
.templatemo_loadmore	{ 
	margin: 0 auto; 
	padding: 7px 0px; 
	background: #b79e41; 
	margin-top: 15%; 
	text-align: center; 
	font-size: 16px; 
	width: 200px; 
	margin-bottom:10%;
	}

.templatemo_loadmore button{ 
	border: none; 
	background: #b79e41; 
	color: #ffffff; 
	text-transform: uppercase;
	width: 100%;
	}
.templatemo_contacttitle	{ 
	font-size: 16px; 
	color: #ffffff; }	
.templatemo_contactmap	{ 
	width: 332px; 
	height: 388px; 
	margin: 0 auto; }


.templatemo_contactmap img{ 
	position: absolute;
	top: 0px;
	left: 29px;
	}
.templatemo_address	ul{ 
	float: left;
	width: 100%;
	padding: 0;
	margin-top: 20px;
	}
.templatemo_address	ul li{ list-style: none; display: inline; padding: 0px; float: left; }
.templatemo_address	ul li.left{
	float: left;
	width: 40px;
	color: #C10303;
	font-size: 22px;
}
.templatemo_address	ul li.rigth{
	float: left;
}

.templatemo_address	ul li.clear	{ height: 10px; width: 100%; }

.templatemo_form	{  width: 100%; }
.templatemo_form input{ 
	float: left; 
	height: 34px; 
	padding: 6px 12px; 
	border-radius: 0px; 
	background: #343536; 
	border: 1px solid #4b5257; 
	width: 100%;  
	margin-top: 10px;
	color: #cccccc;
	}
.templatemo_form textarea{
	float: left; 
	padding: 6px 12px; 
	height: 130px;
	border-radius: 0px; 
	background: #343536; 
	border: 1px solid #4b5257; 
	margin-top: 10px; 
	color: #cccccc;
}
.templatemo_form button.btn-primary{
	float: left; 
	width: 100%;
	line-height: 34px;
	text-align: center;
	color: #ffffff;
	border-radius: 0px;
	background: #C10303;
	border: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
}
.templatemo_contactmap	{ width: 332px; height: 388px; float: left; }
.templatemo_contactmap img { position: absolute; width: 332px; height: 388px; top: 0px; left: 15px; }
#templatemo_map {
    width: 100%;
    height: 388px;
}

.templatemo_footer { background: #343536; padding: 20px 0px; width: 100%; margin-top: 100px; }
.templatemo_footer .hex_footer	{ float: left; margin-right: 5px; height: 40px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 419px)	{
	.hex	{ width: 50%; float: left; }
	.templatemorow	{ margin: 0 5%; }
	.hexagon2 
	{
	position: absolute;
	width: 110px;
	height: 128px;
	top: 0px;
	}
	.templatemo-hex-top1	{ margin-top: 300px; }
	.templatemo-hex-top2	{ margin-top: 100px; margin-left: 25%; }
	.templatemo-hex-top3	{ margin-top: 100px; }
	.templatemo_gallerytop	{ margin-top: 32%; }
	.templatemo_loadmore	{ margin-top: 53%; }
	.templatemo_servicetxt	{ margin-top: 230px; }
	.templatemo_servicecol2	{ margin-top: 10%; float: left; }
	.templatemo_contactmap	{ width: 250px; height: 292px; float: left; }
	.templatemo_contactmap img{ position: absolute; width: 250px; height: 292px; top: 0px; left: 15px; }
	#templatemo_map {
    width: 100%;
    height: 292px;
	}
	.blok	{ left: 13%; }
}

@media (min-width : 420px) 
and (max-width : 559px)	{
	.hex	{ width: 50%; float: left; }
	.templatemorow	{ margin: 0; }
	.hexagon2 
	{
	position: absolute;
	width: 150px;
	height: 175px;
	top: 0px;
	}
	.templatemo-hex-top1	{ margin-top: 300px; }
	.templatemo-hex-top2	{ margin-top: 130px; margin-left: 25%; }
	.templatemo-hex-top3		{ margin-top: 130px; }
	.templatemo_gallerytop	{ margin-top: 32%; }
	.templatemo_loadmore	{ margin-top: 50%; }
	.templatemo_servicetxt	{ margin-top: 230px; }
	.templatemo_servicecol2	{ margin-top: 7%; float: left; }
	.blok	{ left: 22%; }
	
}

@media(min-width:560px) and (max-width:767px)	{
	.hex	{ width: 50%; float: left; }
	.templatemorow	{ margin: 0 10%; }
	.hexagon2 
	{
	position: absolute;
	width: 200px;
	height: 250px;
	top: 0px;
	}
	.templatemo-hex-top1	{ margin-top: 300px; }
	.templatemo-hex-top2	{ margin-top: 180px; margin-left: 25%; }
	.templatemo-hex-top3		{ margin-top: 180px; }
	.templatemo_gallerytop	{ margin-top: 33%; }
	.templatemo_loadmore	{ margin-top: 48%; }
	.templatemo_servicetxt	{ margin-top: 230px; }
	.templatemo_servicecol2	{ margin-top: 7%; float: left; }
	.blok	{ left: 33%; }

}
@media (max-width: 767px)	{
	.templatemo_footer .hex_footer	{ float: left; }
	.hexagon-a	{ margin-left: 5px; }
	.hexagon-a a	{ min-width: 190px; }
	.hexagonservices a.hlinkbott	{ width: 200px; }
	.templatemo_servicerow	{margin: -10% 30px 0px 30px; }
	.templatemo_hexservices	{ width: 100%; margin-top: 5%; float: left; }

}
@media(min-width:768px) and (max-width: 991px){ 
	.col-sm-4{
		width: 50%;
	}
	.templatemorow	{ margin: 0 4%; }
	.hexagon2 
	{
	position: absolute;
	width: 120px;
	height: 180px;
	top: -85px;
	}
	.templatemo-hex-top1	{ margin-top: 110px; }
	.templatemo_servicecol2	{ margin-top: 15%; float: left; }
	.s_top	{ margin-top: 14%; }
	.hexagon-a	{ margin-left: 5px; }
	.hexagon-a a	{ min-width: 190px; }
	.hexagonservices a.hlinkbott	{ width: 200px; }
	.templatemo_servicerow	{ margin: -10% 30px 0px 30px; }
	.templatemo_hexservices	{ width: 100%; margin-top: 5%; }
	.blok	{ left: 33%; }

	}
@media(min-width:768px) and (max-width: 860px){ 
	.templatemo_gallerytop	{ margin-top: 15%; }
}
@media(min-width:861px) and (max-width: 991px){ 
	.templatemo_gallerytop	{ margin-top: 14%; }
}
@media(min-width:861px) and (max-width: 1200px){
		ul {
		-webkit-padding-start: 0px;
		-moz-padding-start: 0px;
		-o-padding-start: 0px;
	}
}
@media(min-width:992px){
		
	.templatemorow	{ margin: 0 7%; }
	.hexagon2 
	{
	position: absolute;
	width: 150px;
	height: 250px;
	top: -85px;
	}
	.templatemo-hex-top1	{ margin-top: 140px; }

}
@media(min-width:992px) and (max-width: 1200px){
	.hexagon-a	{ margin-left: 5px; }
	.hexagon-a a	{ min-width: 140px; }
	.hexagonservices a.hlinkbott	{ width: 150px; }
	.templatemo_servicerow	{ margin: 0px 30px; }
	.templatemo_contactmap	{ width: 250px; height: 292px; float: left; }
	.templatemo_contactmap img{ position: absolute; width: 250px; height: 292px; top: 0px; left: 15px; }
	#templatemo_map {
   	 width: 100%;
    height: 292px;
	}
	}
@media(min-width:992px) and (max-width: 1390px){
	.templatemo_gallerytop	{ margin-top: 15%; }
	}
@media(min-width:1400px) and (max-width:1600px)	{
 	.templatemo_gallerytop	{ margin-top: 14%; }
 }
 
@media(min-width:1200px){
	.templatemorow	{ margin: 0px 30px; }
	.hexagon2 {
	position: absolute;
	width: 200px;
	height: 250px;
	top: -85px;
}
	.templatemo-hex-top1	{ margin-top: 180px; }
	.hexagon-a	{ left: 35%; }
	.hexagon-a a	{ min-width: 190px; }
	.hexagonservices a.hlinkbott	{ width: 200px; }
	.templatemo_servicerow	{ margin: 30px 30px; }
}

@media only screen and (max-width: 1000px) {
	.site-header .main-navigation ul {
 	 padding: 0;
 	 margin: 0;
  	list-style: none; 
  	float: none;
	}

  .site-header .main-navigation {
    padding: 0;
  }
  .site-header .main-navigation .container {
    width: 100%;
  }

  .responsive-menu {
    display: block;
  }

  .main_menu {
    display: none;
  }

  .services #icons .icon-item span,
  .about #icons-about .icon-item span {
    display: none;
  }
  }
  
 @media	(max-width: 991px) {
	.templatemo_footer div.col-sm-12{ float: left; margin-top: 10px; width: 100%; }
	
 }
.content { display: none; height: auto; }
.homepage	{ display: block; }
.leftalign	{ float: left; }

/*----------  form downloader    ---------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .form-wrapper {
        /*width: 470px;*/
        width: 73%;
        padding: 15px;
        margin: 70px auto 100px auto;
        background: #444;
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    .form-wrapper input {
        /*width: 330px;*/
        width: 74%;
        height: 50px;
        padding: 10px 5px;
        float: left;    
        font: bold 18px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 50px;
        /*width: 110px;*/
        width: 26%;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        /*background: #d83c3c;*/
        background:#10C400;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        /*background: #e54040;*/
        background:#10C400;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        /*background: #c42f2f;*/
        background:#10C400;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        /*border-color: transparent #d83c3c transparent;*/
        border-color: transparent #10C400 transparent;
        /*top: 12px;*/
        top:18px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        /*border-right-color: #e54040;*/
        border-right-color: #10C400;
    }
    
    .form-wrapper button:focus:before{
        /*border-right-color: #c42f2f;*/
        border-right-color: #10C400;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

/*
      ========================  carousel jquery ==============================
*/
.carousel-control {
  padding-top:10%;
  width:5%;
}

.col-sm-2{
/*	width: 234px;*/
	height: 100px;
}
/*
      ========================    end carousel  ============================== 
*/

.file{
	margin:0 auto;
}

#border{
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}

.borderTop{
	border-top: 1px solid #ccc;
	padding: 10px;
}

.borderTop a{
	color: rgb(245, 149, 149);
}

.borderTop a:hover{
	text-decoration: underline;
}

.borderTop span{
	color: rgb(245, 149, 149);
}

.borderTop i{
	padding-right: 10px;
}

#src{
	color: #969696;
}

#src:hover{
	text-decoration: underline;
}

article span{
	color:#fff;
}

#title{
	font-size: 40px;
	margin-top: 100px;
	opacity: 0.8;
}

.col-sm-4 img{
	margin-top: 40px;
	margin-bottom: 20px;
}

.containerImg{
	float: left; position: relative;
}

.text{
	color: #fff; 
	font-family: Courier; 
	position: absolute; 
	top: 40px; 
	width: 375px; 
	font-size:20px;
	background-color:#151212; 
	padding:20px;
}

.pageSites{
	border-bottom:1px solid #ccc;
	margin-bottom: 40px;
}

.pageSites h1{
	background: none;
	font-size: 30px;
}

.descriereSites{
	font-size:16px;
}

.btnEx{
	border: 1px solid #dd2222;
	border-radius: 5px;
	padding: 7px 15px;
	display: inline-block;
	font-size: 13px;
	color:#dd2222;
	margin: 10px 0px 40px 0px;
}

.btnEx:hover{
	background:#dd2222;
	color:#fff;
}

.alignImg{
	margin: 40px 127px;
}

.hr{
	border-bottom: 1px solid #ccc;
	/*margin-bottom: 40px;*/
}

.hr-doshed{
	border-bottom: 1px dashed #ccc;
}

.sites{
	margin-top: 60px;
}

.page{
	background: #eee;
	text-align: center;
	border-top: 1px solid #655757;
	font-size: 15px;
	padding: 30px 150px;
}

.page h2{
	color:#000;
}

.page p{
	color: #888;
	word-wrap: break-word;
	margin: 15px 0;
}

.page a{
	color: #444;
	text-decoration: underline;
}

.page a:hover{
	text-decoration: none;
}

.description{
	padding: 30px 0px;
}

.url{
	margin: 12px 0px;
}

.url a{
	color:#dd2222;
}

.url a:hover{
	text-decoration: underline;
}

.note{
	border-top: 1px dashed #ccc;
	padding: 10px;
	color: #948B8B;
}

.lang {
position: absolute;
width: 80px;
top: 28px;
left: -22px;
 }

.lang li{
	width: 23px;
	line-height: 9px;
	display: inline;
}

#langItem{
	padding:0px;
}

.description span{
	margin-left: 20px;
}

.bottom{
	margin-bottom: 120px;
}

.show-videos{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
	text-align: center;
}

.show-videos a{
	color: #7E7B7B;
	font-size: 16px;
}

.eye{
	color: rgb(17, 17, 17);
	padding: 0px 12px;
}

ul{
	list-style: none;
}

.img-clip{
	width:270px;
	height:180px;
	overflow: hidden;
	background-color: black;
}

#adltimg {
	margin: 0px -37px;
}

.img-clip img{
	width: 270px;
	margin-top:0px;
}

.title-site{
	position: absolute;
	
	padding: 5px 71px;
	background-color: rgb(113, 113, 113);
	opacity: 0.3;
	color: #FFFCFC;
	width: 270px;
	margin: -27px auto;
	text-align: center;
}

#titlsiteadlt {
	margin: -27px -37px;
}

.title-site:hover{
	background-color: #dd2222;
}

.box{
	float: left;
	margin-top:15px;
}

.description-video p{
	text-overflow: ellipsis;
	width: 270px;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
	}

.description-video p:hover{
	color: #dd2222;
}

.description-video p span{
	margin-left: 37px;
	color: #fff;
}

.description-video p span:hover{
	color: #dd2222;
}

.film{
	padding: 0px 10px;
}

.time p{
	margin: 0px 10px;
	color: #979494;
}

.last:hover{
	color: red;
}

.latest{
	padding: 0px 43px;
	text-align: center;
}

.granita{
	/*border-right: 1px solid #ccc;*/
	/*float: left;*/
}

.content-description{
	padding: 29px 0px;
}


.helpForm {
 	width:833px;
 	margin:0 auto;

 }

 .helpForm {
 	width:700px;
 	margin:0 auto; 	
 }



.cloud-download {
  #background-image:url('../images/downloadicon.png');
  background-repeat: no-repeat;
  width: 97px;
  height: 71px;
  display: inline-block;
}
.cloud-download i {
	color: #26a9e1;
	font-size: 70px;
}
.cloud-text {
	float:right;
	width:600px;
	margin-top: 16px;
}
.cloud-text h2 {
	font-size: 24pt;
	
	margin:0px;
	padding:0px;
}

#socialPlugin {
	width:124px;
	height:100px;
	padding:35px 0px;
	background-color:#343536;
}

.site-header .main-navigation ul li div {
	/*background:none repeat scroll 0 0 #343536;*/
	color: white;
	display: inline-block;
	font-size: 16px;
	/*padding:20px;*/
	text-transform: uppercase;
/*	width:124px;*/
}

.site-header .main-navigation ul li div div {
	margin:0px -25px;
	padding:6px;
}

#widget{
	margin:0px 4px !important;
}

.desc {
	max-height: 7.2em;
	overflow: hidden;
}

.adultbutton {
	text-align: center;
	font-size: 14pt;
	margin-bottom: 25px;
}

.adultbutton a{
	color:white;
}

#page {
	width:900px;
	margin:0 auto;
}

#page h2 {
	font-size:24pt;
}

#page p {
	font-size:12pt;
	margin-bottom: 250px;

}

.adult-section {
	text-align:center;
	padding:30px;

}

.adult-section h2 {
	font-size:36pt;	
}

.adult-section p {
	font-size:15pt;	
}

.video-hover {
	margin-top:30px;
	padding-left:0px;
}



.main_menu ul li {
	vertical-align: middle;

}

.main_menu {
	/*margin-top:18px;*/ 
}

#copyright {
	text-align: center;
}