a{
	outline:none;
}

a:hover
{
	outline:none;
}
#content {
	background-image: url('http://cdn.wonderfulengineering.com/wp-content/uploads/2014/05/city-wallpaper-7.jpg');
	background-attachment: fixed;
}

.site-header .col-md-4{
	padding-left: 0px;
}
.site-header .col-md-8{
	padding-right: 0px;
}
.row .menu{
	padding-right: 0px;
}


.dropdown {
    width: 40%;
    float: right;
    text-align: right;
    padding-right: 0px;

}


.navbar .container-fluid{
	padding-right: 0px;
}
.navbar .container-fluid .navbar-collapse{
	padding-right: 0px;
}

.responsive .drop-menu {
    display: none;
}
.drop-menu {
    text-align: right;
    position: relative;
}
/*==================form=============*/

.download-block{
	padding: 132px 0px 82px;
	padding-bottom: 70px;
	text-align: center;

	
}

.download-form{
	
	margin:0 auto;
	box-shadow: -2px 3px 6px rgba(12, 17, 17, 0.7);
	
	
}

.download-form #videoLink{
	padding:15px;
	
	margin:0px;
	width:74%;
	
	font-size:16px;
}
.download-form button{
	margin:-1px;
	width:26%;
	padding:16px 0px;
	background-color: #26b864;
	/*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);*/
	
	border:none;
	font-size:16px;
	color:#fff;
}
.download-form button:hover{
	background-color: #21AB5B;
}
.form-block{
	margin:80px 0px 0px;
}

.form-block .container{
	padding: 0px 30px;
}

/*===============carousel====================*/
#myCarousel .container{
	padding-left: 80px;
	padding-right: 80px;
}



.carousel-control{
	/*width:4%;*/
	color:#24b864;
}


.item .col-sm-3{
	text-align: center;
}


.carousel-indicators li{
	background-color: #C9C9C9;
}
.carousel-indicators .active{
	background-color: #26B864;
}
.section-title:first-child{
	/*border-top:none;*/
}
#music-carousel-block .section-title{
	text-align: center;
	padding-bottom: 39px;
}
#popular-carousel-block .section-title{
	text-align: center;
	padding-bottom: 39px;
}
#latest-carousel-block .section-title{
	text-align: center;
	padding-bottom: 39px;
}


/*==================content-section==============*/


/*========= forms ======*/

.search-form {
	position: absolute;
	top:10%;
	right: 10%;
	z-index: 99999;
	width: 500px;
	height: 100px;
	border:1px solid red;

}
/*=============download-page===========*/

.details .col-md-4 img{
	width:100%;
}

.list1, .list2{
	/*border-bottom: 1px solid grey;*/
	padding: 7px 0px;
	color: #2D2929;
}


.list2{
	background-color: #E7E7E7;
}
.list1:last-child, .list2:last-child{
	border-bottom: none;
}
.list-header{
	background-color: #161616;
	opacity:0.9;

}
.list-header h5{
	color:#fff;
	font-size: 13px;
	margin:0px;
	padding: 8px 0px;
}

.details .col-md-4:first-child{
	
	padding-left: 0px;
}


.details{
	background-color:#fff;
	box-shadow: 1px 3px 6px rgba(12, 17, 17, 0.7);
	padding-bottom: 40px;
}
.details ul li{
	list-style-type: none;
}
.file-list .odd{
	background-color: grey;
}

.file-list .odd:
.item-title{
	
	padding-top: 10px;
	padding-bottom: 10px;
	color:black;
}

.file-list {
	padding: 0px;
}
.file-list li div:last-child{
	text-align: right;
	
}

.file-list .col-xs-6, .col-xs-2, .col-xs-4{
	line-height: 42px;

}

.details span{
	color:#26b864;
	font-weight: bold;
	line-height: 20px;
}
.details ul{
	height:100%;
}

.file-list li{
	width:100%;
	height:45px;	
}

.file-list li:nth-child(odd){
	background-color: #EFEAEA;
}
.file-list li:nth-child(odd):hover{
	background-color: #EFEAEA;
}
.file-list li:nth-child(even):hover{
	background-color: #fff;
}