/* 
Sprint Template 
http://www.templatemo.com/preview/templatemo_401_sprint 
*/

/* ==========================================================================
    HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


.item-small, .item-large, .product-item .item-thumb {
  overflow: hidden;
  line-height: 117px;
  background-color: black;
}
.item-small img, .item-large img, .product-item .item-thumb img {
  width: 100%;
  position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

  
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
    Forms
   ========================================================================== */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
  background: #fff;
  border: 1px solid #fff;
  padding: 7px 10px;
  width: 60%;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus {
  outline: none !important;
}
form .button {
  background: #fff;
  border: 1px solid #fff;
  padding: 7px 20px;
  text-transform: uppercase;
}
form .button:focus, form .button:active {
  outline: none !important;
}
form .button.yellow {
  background: #e7af2a;
  color: #fff;
  border: 1px solid #c89316;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
    Structure & Defaults
   ========================================================================== */
html, body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}

body {
  font: 13px/21px "Open Sans", Arial, sans-serif;
  color: #838383;
  background-color: white;
}

a {
  color: #26b864;
  text-decoration: none !important;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
a:hover {
  color: #f5a200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #444444;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.section-title:before {
  content: '';
  width: 180px;
  height: 3px;
  background: url(../images/t-left.png) no-repeat center;
  margin-bottom: 10px;
  margin-right: 15px;
  display: inline-block;
}
.section-title:after {
  content: '';
  width: 180px;
  height: 3px;
  background: url(../images/t-right.png) no-repeat center;
  margin-bottom: 10px;
  margin-left: 15px;
  display: inline-block;
}

.bigger-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}

/* ==========================================================================
    Header Site Styling
   ========================================================================== */
   #wrapper{
  background-image: url('/images/wallpaper.jpg');
  background-attachment: fixed;
}
.site-header {
  position: fixed;
  min-height: 83px;
  height: 83px;
  width: 100%;
  z-index: 99;
  background-color: #161616;
}

#templatemo_logo {
  background-color: #26b864;
  background-image: url(../images/templatemo_logo.png);
  background-repeat: no-repeat;
  background-position: 30px center;
  height: 83px;
  display: block;
}
#templatemo_logo h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 83px;
  display: block;
}
#templatemo_logo h1 a {
  margin-left: 140px;
  color: white;
  display: block;
}


#navbar{
  background-color: #161616;
  float:right;
}

.logo{
  padding-right: 0px;
}
.drop-menu{
  padding-left: 0px;
}
.navbar-nav {
    margin: 0px;
}
.navbar-nav li{
  width:25%;
  text-align: center;
  height: 100%;
  
}
.navbar-nav li:last-child{
  text-align: right;
}
.navbar-toggle .icon-bar{
  background-color: #26B864;
}
.navigation{
  padding-left: 0px;
  /*height:82px;*/
}
.navbar-nav li a{
  color:#fff;
  
  
  text-align: right;
  font-size: 15px;
}
.navbar-nav .dropdown-toggle{
  color:#26B864;
}
.navbar-nav .dropdown-toggle:hover{
  color:#fff;
  background: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background:none;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background:none;
    color:#26B864;
}

#bar{
  background-color: #161616;
  height:200px;
}


.navbar-toggle {
  margin-top: 23px;
}
.dropdown-menu{
  right: 0px;
  
}
.dropdown-menu li{
  width:100%;
  text-align: left;
}
.dropdown-menu li:last-child{
  text-align: left;
}
.dropdown-menu>li>a{
    color: #21AB5B;
    width: 100%;
    background: none;
    
}
#drop1{
  color:#21AB5B;
  text-align: right;
  font-size: 13px;
}
#drop1:hover{
  color:#fff;
}
#drop1:focus{
  color:#26B864;
}
.navbar-nav{
  width:100%;
}


.navbar-nav > li > a{
  height: 100%;
  width: 100%;
  line-height: 42px;
  font-size: 15px;
}
.nav>li>a{
  color:#fff;
  
  font-weight: bold;
  text-align: center;
}
.nav>li>a:hover{
  background: none;
  height: 100%;
}
.nav a:hover{
  color:#21AB5B;
}

.product-item .item-thumb{
  /*height:110px;
*/
}
.owl-item .owl-demo .item-image{
  padding-left: 7.5px;
  padding-right: 7.5px;
  width:100%;
}

.content-section{
  background-color: #fff;

}
#services{
  padding-bottom: 30px;
}


.carousel-control.left {
  background: none;
  z-index: 97;
  width:6%;
}
.carousel-control.right {
  background: none;
  z-index: 97;
  width:6%;
}

.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev, .carousel-control .icon-next {
   
    
    margin-top: -23px;
    margin-left: -9px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    
    margin-top: -23px;
    margin-right: -9px;
}
.carousel-indicators {
    bottom: -18px;
}  

.carousel-inner{
  padding-bottom: 10px;
}
#music-carousel-block{
  margin-bottom: 20px;
}
#popular-carousel-block{
  margin-bottom: 20px;
}
#latest-carousel-block{
  margin-bottom: 20px;
}
#dropdown-navigation{
  width:100%;
}
.carousel-inner img{
  width: 100%;
}
.button.secondary {
    background-color: #E7E7E7;
    border-color: #B9B9B9;
    color: #333;
}
button, .button {
    display: inline-block;
}
button, .button {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0px 0px 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFF;
    transition: background-color 300ms ease-out 0s;
}
.owl-btn {
    color: #777;
    cursor: pointer;
    font-size: 18px;
    padding: 2px 9px;
    text-align: center;
    background: none repeat scroll 0% 0% #F5F5F5;
}
/* ==========================================================================
    Slider Styling
   ========================================================================== */
.sites{
  padding-top: 30px;
  padding-bottom:30px;
  
 }
  .exemple{
    padding-bottom: 30px;
  }
.steps, .descriereSites{
  color:rgb(96, 91, 91);
  font-size: 15px;
  text-align: justify;
 }
.logo-site-img{
  height:150px;
  padding-top: 53px;
  padding-left: 0px; 
}
.site-slider {
  
  overflow: hidden;
  height: 380px;
}
.site-slider ul li {
  float: left;
  margin: 0;
}
.steps{
   border-top: 1px solid rgb(222, 216, 216);
   text-align: justify;
}
.siteName:before, .download-steps:before{
  content: "";
  width: 90px;
  height: 3px;
  background: url("../images/t-left.png") no-repeat scroll center center transparent;
  margin-bottom: 10px;
  margin-right: 15px;
  display: inline-block;
}
.siteName:after, .download-steps:after{
  content: "";
  width: 90px;
  height: 3px;
  background: url("../images/t-right.png") no-repeat scroll center center transparent;
  margin-bottom: 10px;
  margin-left: 15px;
  display: inline-block;
}

.bx-wrapper img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.bx-wrapper {
  background-color: #161616;
}

.bx-thumbnail-wrapper {
  background-color: #161616;
  text-align: center;
  margin-top: -1px;
  position: relative;
}

.caption-wrapper {
  position: relative;
}

.slider-caption {
  position: absolute;
  z-index: 988;
  bottom: 287px;
  background-color: white;
  display: inline-block;
  right: 0;
}
.slider-caption h2 {
  font-size: 30px;
  margin: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

#bx-pager a {
  margin: 20px 10px 0 20px;
  padding: 0 0 40px 0;
  display: inline-block;
  opacity: 0.4;
  filter: alpha(opacity=40);
  outline: 0;
  border: 0;
}
#bx-pager a img {
  outline: 0;
  border: 0;
}
#bx-pager a.active {
  opacity: 1;
  filter: alpha(opacity=100);
  background: url(../images/active-state.png) no-repeat;
  background-position: center 85px;
}

.bx-controls {
  position: relative;
}

.bx-controls-direction {
  position: absolute;
  text-align: right;
  bottom: 215px;
  right: -2px;
  z-index: 998;
}
.bx-controls-direction a {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  float: left;
  margin-right: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/* ==========================================================================
    Services Styling
   ========================================================================== */
#services {
  padding-top: 109px;
  margin-top: -60px;
  padding-bottom: 109px;
}
.supported-sites{
  text-align: center;
  font-weight: bold;
}
.pagination > .active > a{
  background-color: #26B864;
  border-color: #26B864;
}
 .pagination > .active > a:hover{
  cursor: pointer;
  background-color: #21AB5B;
 }
 .pagination > .active > a:focus{
  background-color: #26B864;
  border-color: #26B864;
 }
/*=========================================================================
   Video Page
===========================================================================*/
.aside-block ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.aside-block{
  padding-right: 0px;
}
.aside-block .navbar-collapse{
  padding: 0px;
}
.aside-block a{
  text-decoration: none;
  
  font-size:15px;
}

.aside-block .navbar-collapse ul li{
  
  background-color:#26B864;
  border-bottom:1px solid #fff;
  width:100%;
  text-align: left;
  
}
.aside-block ul a{
  color:#fff;
  text-transform: uppercase;
  font-weight: bold;

}
.aside-block ul a:hover{
  color:#26B864;
  transition: transform 0.3s ease 0s;
}
.aside-block ul li:hover {
  background-color:#fff;
}
.aside-block ul .active a{
  background-color: #fff;
  color:#26B864;
}
.aside-block .navbar-collapse .nav a{
  line-height: 22px;
}
.aside-block ul img{
  width:13px;
  height:15px;
  color:#fff;
}
.aside-block .navbar-header{
  background-color: #26B864;
  
}
.aside-block .navbar-header span{
  background-color: #fff;
}
.aside-block .navbar-header button{
  margin-top: 9px;
}
.icon {
    fill:#fff;
}
.aside-block{
  padding-left: 0px;
}
.sites-block{
  padding-left:0px;
  padding-right: 0px;
}
.pagination {
  padding-left: 25px;
}
.sites-list a{
  cursor: pointer;
}
/* ==========================================================================
    Promotion Styling
   ========================================================================== */
.item-small {
  padding: 20px;
  background-color: #26b864;
  color: white;
  text-align: center;
}
.item-small h4 {
  color: white;
  line-height: 24px;
  margin: 20px 0 0 0;
}

.item-large .item-header {
  margin: 30px 0;
}
.item-large .item-header h2 {
  margin: 0;
}
.item-large .item-header span i {
  display: inline-block;
  font-size: 18px;
  color: #e7d323;
  margin-left: 3px;
}
.item-large .item-header span i:first-child {
  margin-left: 10px;
}
.right-block #gallery{
  padding-top: 20px;
}
/* ==========================================================================
    Products Styling
   ========================================================================== */
.product-item {
  margin-bottom: 30px;
}
.product-item .item-thumb {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  position: relative;
  z-index: 95;
  height: 117px;
  overflow: hidden;
}
.product-item .item-thumb .note {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  color: #444444;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  z-index: 96;
}
.product-item .item-thumb .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #26b864;
  padding: 20px;
  z-index: 97;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  opacity: 0;
  filter: alpha(opacity=0);
}
.product-item .item-thumb .overlay .overlay-inner {
  width: 100%;
  height: 100%;
  text-align: center;
}
.product-item .item-thumb .overlay .overlay-inner a.view-detail {
  position: relative;
  margin-top: -17%;
  display: block;
 /* background: url(../images/active-state.png) no-repeat;*/
  background-position: center 20px;
  padding-bottom: 30px;
  color: #26b864;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.product-item .item-thumb:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.product-item h3 {
  margin: 15px 0 12px 0;
  font-size: 18px;
  font-weight: 600;

}
.ellipsis {
    height:45px;
    overflow: hidden;
    margin-bottom:3px;
}
.ellipsis a{
  cursor:pointer;
  color:#161616;
}
.product-item span {
  font-size: 14px;
  /*display: -moz-box;*/

}
.item-details{
  text-align: justify;
}
.dwn-btn, .size, .type, .key {
  padding-right: 0px;
  padding-left: 0px;
}
.key{
  line-height: 42px;
}

.product-item span em {
  font-weight: 400;
  font-style: normal;
}
.product-item span em.price {
  color: #26b864;
}
.product-item span em.text-muted {
  color: #a3a7aa;
  text-decoration: line-through;
  font-weight: 600;
}
.pagination-block{
  text-align: center;
}
.pagination > li > a{
  color:#161616;
}
.pagination > li > a:hover{
  color:#26B864;
}
.owl-theme .owl-controls .owl-buttons div {
  background: none repeat scroll 0% 0% #454545;
}
/* ==========================================================================
    Contact Styling
   ========================================================================== */
.dropdown-menu{
  min-width: 128px;
}

input.button {
  display: inline-block;
  width: auto;
  background: url(../images/active-state.png) no-repeat;
  background-position: center bottom;
  color: #26b864;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 27px;
  border: 0;
}

.site-footer {
  margin-top:30px;
  background-color: #26b864;
  color: white;
  padding: 25px 0;
}
.site-footer a {
  color: white;
}
.site-footer span {
  margin-top: 12px;
  display: block;
}

ul.social {
  text-align: right;
}
ul.social li {
  display: inline-block;
}
ul.social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
}

/*------------------------------------------------------
	RESPONSIVE STYLES 
--------------------------------------------------------*/
@media (max-width: 991px) {
  .download-steps, .siteName{
    font-size: 22px;
    text-align: center;
  }
  .download-steps:before, .download-steps:after{
    margin-bottom: 7px;
  }
  .item-small, .item-large, .product-item .item-thumb{
    height: 283px;
  }
  .product-item .item-thumb .overlay .overlay-inner a.view-detail{
    margin-top:25%;
  }
  
  .carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev, .carousel-control .icon-next {
   
    
    margin-top: -74px;
    margin-left: -9px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    
    margin-top: -74px;
    margin-right: -9px;
}
   .product-item .item-thumb {
    /*height: 100%;*/
  }
  .carousel-control.left {
  
  z-index: 1;
  }
  .carousel-control.right {
 
  z-index:1;
  }
  .caret{
    display: none;
  }
  .main-menu, .bx-thumbnail-wrapper {
    display: none;
  }
  .navigation{
    height:82px;
  }
  #music-carousel-block .right.carousel-control {
    background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
    z-index:98;
    width:23%;
  }

  #popular-carousel-block .right.carousel-control {
   background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
   z-index:98;
    width:23%;
  }
  #latest-carousel-block .right.carousel-control {
    background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
    z-index:98;
    width:23%;
  }

  #music-carousel-block .left.carousel-control {
    background-image: linear-gradient(to left, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
    z-index:98;
    width:23%;
  }

  #popular-carousel-block .left.carousel-control {
   background-image: linear-gradient(to left, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
   z-index:98;
    width:23%;
  }
  #latest-carousel-block .left.carousel-control {
    background-image: linear-gradient(to left, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
    z-index:98;
    width:23%;
  }
 

  .slider-caption {
    bottom: 80px;
  }

  .bx-controls-direction {
    bottom: 30px;
  }

  .section-title:after {
    display: none;
  }
  .section-title:before {
    display: none;
  }
  #templatemo_logo h1 a {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .main-menu {
    display: none;
    border-top: 1px solid #2f2f2f;
    text-align: left;
  }
  .main-menu ul li {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid #2f2f2f;
  }
  .main-menu ul li:last-child {
    border-bottom: 0;
  }
  .main-menu ul li a {
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    display: block;
  }
  .aside-block .navbar-collapse ul li{
    font-size: 12px;
  }

 
}
@media (max-width: 767px) {
  .download-steps:before, .download-steps:after, .siteName:before, .siteName:after{
    display: none;
  }
  .product-item .item-thumb .overlay .overlay-inner a.view-detail{
    margin-top:10%;
  }
  .download-block h1{
    font-size:15px;
  }
  
  .navbar-nav li {
    width: 100%;
  }
  .nav > li > a{
    text-align: center;
  }
  .navbar-nav #drop1 {
    text-align: center;
  }
  .caret{
    display:inline-block;
  }
  .navbar-nav li a {
    color: #FFF;
    text-align: center;
  }
  .section-title {
    font-size: 24px;
  }

  .contact-form {
    margin-top: 60px;
  }

  .item-large {
    margin: 40px 0;
  }

  .slider-caption {
    display: none;
  }

  #templatemo_logo h1 a {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .dwn-btn, .size, .type, .key{
    font-size:11px;
  }
  .item-title{
    font-size: 15px;
    font-weight: bold;
  }
  .aside-block .navbar-collapse li a{
    font-size: 12px;
  }
}
